@import "@/styles/main";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .form {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-m;

    .fade {
      display: flex;
      flex-direction: column;
      row-gap: $spacing-m;
    }
  }
}
